*{
    margin: 0px;
    border: 0px;
}
body{
    font-family: 'Open Sans', sans-serif;
    font-family: 'Work Sans', sans-serif;
}
.banner-container{
    height: 900px;
    background: url(../images/banner/banner1.png), lightgray -0.889px 0px / 100.111% 111.51% no-repeat; 
    background-repeat:no-repeat;
    background-size: cover;
    background-position: center;
    /* display: flex; */
    align-items: center;
    text-align: right;
}
.banner-title{
    color: #151414);
    font-size: 65px;
    font-weight: 700;
    padding: 216px 230px 24px 800px;
}
.banner-description{
    color: #444343;
    font-size: 16px;
    font-weight: 400;
    line-height: 26px;
    width: 32%;
    margin: auto;
    padding: 24px 23px 32px 876px ;
}
.button-primary{
    color: #FFF;
    font-size: 20px;
    font-weight: 600;
    border-radius: 5px;
    border: none;
    background-color: chocolate;
    padding: 20px 43px;
   margin-right: 230px;
}
/* author section */
.author-container{
    display: flex;
    justify-content: space-around;
    align-items: center;
}
.author-images{
    margin-top: 139px;
    margin-left: 200px;
}
.author-succes-story{
    margin-right: 300px;
}
.succes-title{
    color: #151414;
    font-size: 40px;
    font-weight: 700;
    margin-top: 320px;
    margin-left: ;
    padding-bottom: 24px;
}
.succes-description{
    color: #444343; 
    font-size: 16px;
    font-weight: 400;
    line-height: 26px;
    padding-bottom: 16px;
}
.succes-point{
    color: #444343;
    font-size: 16px;
    font-weight: 400;
    line-height: 26px;
    padding-bottom: 8px;
}
.plans-title{
    color: #151414;
    font-size: 40px;
    font-weight: 700;
    text-align: center;
    margin-top: 215px;
    margin-bottom: 56px;
}
.skills-container{
    display: flex;
    /* margin-left: 300px; */
    justify-content: space-around;
    width: 80%;
    margin: auto;
}

/* this is contact section */
.contact{
    /* background: linear-gradient(90deg, #F15B22 0%, rgba(241, 91, 34, 0.00) 100%); */
    background-image: url('../images/watch.png'),linear-gradient(90deg, #F15B22 0%, rgba(241, 91, 34, 0.00) 100%);
    background-blend-mode: overlay;
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    border-radius: 8px;
    /* width: 80%; */
    /* height: 30vh; */
    margin: 190px 240px 0px;
}
.contact-title{
    color: #FFF;
    font-size: 40px;
    /* font-weight: 700; */
    /* padding: 59px 617px 64px 24px; */
    margin: 70px 617px 64px 24px;
}
.contact-button{
    border-radius: 5px;
    background: #FFF;
    color: #F15B22;
    text-align: center;
    font-size: 20px;
    font-weight: 600;
    padding: 20px 36px;
    margin-left: 64px;
    margin-bottom: 59px;
}